.projectContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.swiper {
    width: 100%;
}

.projectImg {
    object-fit: cover;
    border-radius: 4px;
    opacity: 90%;
}

.project {
    opacity: 90%;
    width: 100%;
    bottom: 40px;
}

.projectLink {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.projectName {
    font-size: 18px;
    font-weight: 400;
}

.projectDescription {
    font-size: 14px;
    text-align: left;
    padding: 5px;
    padding-bottom: 30px;
    white-space: break-spaces;
    color: white;
    line-height: 150%;
}

@media (min-width: 680px) {
    .projectContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .project {
        position: absolute;
        background-color: #2e2c2c;
        opacity: 80%;
    }

    .projectName {
        font-size: 20px;
    }

    .projectLink {
        padding: 5px 40px;
    }

    .projectDescription {
        padding: 5px 40px;
        font-size: 16px;
    }

}