@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');


:root {
  --text-color: #FFF;
  --background-color-gradient: linear-gradient(to bottom, #1d1d1d, #373737);
  --background-color-fixed: #1d1d1db3;
  --default-font-weight: 200;
}

.light-theme {
  --text-color: #000000;
  --background-color-gradient: linear-gradient(to bottom, #fafafabb, #ededed);
  --background-color-fixed: #fafafab3;
  --default-font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  background: var(--background-color-gradient);
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s;

  :hover {
    transform: scale(1.03);
  }
}

button {
  color: var(--text-color);
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;

  :hover {
    transform: scale(1.05);
  }
}

h1, h2, h3, h4, span, svg {
  font-weight: var(--default-font-weight);
  color: var(--text-color);
}